<mat-sidenav-container class="container__side-bar">
  <mat-sidenav
    class="sidenav"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>SIDEBAR TEST</mat-toolbar>
    <mat-nav-list>
      <!-- <mat-icon>home</mat-icon> -->
      <a mat-list-item>Lorem Ipsum</a>
      <a mat-list-item>Lorem Ipsum</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-board></app-board>
    >
  </mat-sidenav-content>
</mat-sidenav-container>
