* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
/* }
.v1_24 {
  width: 100%;
  height: 1022px;
  background: rgba(42,43,46,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
/* coluna 3 - done */
/* .v1_25 {
  width: 352px;
  height: 826px;
  background: url("../images/v1_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 1180px;
  overflow: hidden;
}
.v1_26 {
  width: 352px;
  height: 826px;
  background: rgba(36,38,44,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_27 {
  width: 320px;
  height: 754px;
  background: url("../images/v1_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 16px;
  overflow: hidden;
}
.v1_28 {
  width: 320px;
  height: 178px;
  background: url("../images/v1_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 576px;
  left: 0px;
  overflow: hidden;
}
.v1_29 {
  width: 320px;
  height: 178px;
  background: url("../images/v1_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,255,255,0.10000000149011612);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_30 {
  width: 157px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 81px;
  left: 81px;
  font-family: Exo 2;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_31 {
  width: 320px;
  height: 178px;
  background: url("../images/v1_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 384px;
  left: 0px;
  overflow: hidden;
}
.v1_32 {
  width: 320px;
  height: 178px;
  background: rgba(41,42,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_55 {
  width: 280px;
  height: 36px;
  background: url("../images/v1_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v1_56 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 254px;
  overflow: hidden;
}
.v1_57 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,255,255,0.10000000149011612);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v1_58 {
  width: 10px;
  height: 2px;
  background: url("../images/v1_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  overflow: hidden;
}
.v1_59 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border-radius: 50%;
}
.v1_60 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border-radius: 50%;
}
.v1_61 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_62 {
  width: 156px;
  height: 36px;
  background: url("../images/v1_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_63 {
  width: 115px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_64 {
  width: 156px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_65 {
  width: 320px;
  height: 178px;
  background: url("../images/v1_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 0px;
  overflow: hidden;
}
.v1_66 {
  width: 320px;
  height: 178px;
  background: rgba(41,42,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_86 {
  width: 280px;
  height: 36px;
  background: url("../images/v1_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v1_87 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 254px;
  overflow: hidden;
}
.v1_88 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_88.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,255,255,0.10000000149011612);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v1_89 {
  width: 10px;
  height: 2px;
  background: url("../images/v1_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  overflow: hidden;
}
.v1_90 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border-radius: 50%;
}
.v1_91 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border-radius: 50%;
}
.v1_92 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_93 {
  width: 201px;
  height: 36px;
  background: url("../images/v1_93.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_94 {
  width: 136px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_95 {
  width: 201px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_96 {
  width: 320px;
  height: 178px;
  background: url("../images/v1_96.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_97 {
  width: 320px;
  height: 178px;
  background: rgba(41,42,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_117 {
  width: 280px;
  height: 36px;
  background: url("../images/v1_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v1_118 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 254px;
  overflow: hidden;
}
.v1_119 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,255,255,0.10000000149011612);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v1_120 {
  width: 10px;
  height: 2px;
  background: url("../images/v1_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  overflow: hidden;
}
.v1_121 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border-radius: 50%;
}
.v1_122 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border-radius: 50%;
}
.v1_123 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_124 {
  width: 198px;
  height: 36px;
  background: url("../images/v1_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_125 {
  width: 105px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_126 {
  width: 198px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_127 {
  width: 320px;
  height: 18px;
  background: url("../images/v1_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 16px;
  overflow: hidden;
}
.v1_128 {
  width: 111px;
  height: 18px;
  background: url("../images/v1_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 209px;
  overflow: hidden;
}
.v1_129 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 24px;
  font-family: Exo 2;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_130 {
  width: 18px;
  height: 18px;
  background: url("../images/v1_130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_131 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_132 {
  width: 6px;
  height: 6px;
  background: url("../images/v1_132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 6px;
  left: 6px;
  overflow: hidden;
}
.v1_133 {
  width: 6px;
  background: url("../images/v1_133.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_134 {
  width: 6px;
  background: url("../images/v1_134.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_135 {
  width: 55px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Exo 2;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
/* coluna 2 - in progress */
/* .v1_136 {
  width: 352px;
  height: 826px;
  background: url("../images/v1_136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 814px;
  overflow: hidden;
}
.v1_137 {
  width: 352px;
  height: 826px;
  background: rgba(36,38,44,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_138 {
  width: 320px;
  height: 753px;
  background: url("../images/v1_138.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 16px;
  overflow: hidden;
}
.v1_139 {
  width: 320px;
  height: 178px;
  background: url("../images/v1_139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 576px;
  left: 0px;
  overflow: hidden;
}
.v1_140 {
  width: 320px;
  height: 178px;
  background: rgba(41,42,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_160 {
  width: 280px;
  height: 36px;
  background: url("../images/v1_160.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v1_161 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_161.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 254px;
  overflow: hidden;
}
.v1_162 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_162.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,255,255,0.10000000149011612);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v1_163 {
  width: 10px;
  height: 2px;
  background: url("../images/v1_163.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  overflow: hidden;
}
.v1_164 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border-radius: 50%;
}
.v1_165 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border-radius: 50%;
}
.v1_166 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_167 {
  width: 169px;
  height: 36px;
  background: url("../images/v1_167.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_168 {
  width: 117px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_169 {
  width: 169px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_170 {
  width: 320px;
  height: 178px;
  background: url("../images/v1_170.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 384px;
  left: 0px;
  overflow: hidden;
}
.v1_171 {
  width: 320px;
  height: 178px;
  background: rgba(41,42,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_194 {
  width: 280px;
  height: 36px;
  background: url("../images/v1_194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v1_195 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_195.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 254px;
  overflow: hidden;
}
.v1_196 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_196.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,255,255,0.10000000149011612);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v1_197 {
  width: 10px;
  height: 2px;
  background: url("../images/v1_197.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  overflow: hidden;
}
.v1_198 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border-radius: 50%;
}
.v1_199 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border-radius: 50%;
}
.v1_200 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_201 {
  width: 216px;
  height: 36px;
  background: url("../images/v1_201.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_202 {
  width: 128px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_203 {
  width: 216px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_204 {
  width: 320px;
  height: 178px;
  background: url("../images/v1_204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 0px;
  overflow: hidden;
}
.v1_205 {
  width: 320px;
  height: 178px;
  background: rgba(41,42,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_225 {
  width: 280px;
  height: 36px;
  background: url("../images/v1_225.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v1_226 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_226.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 254px;
  overflow: hidden;
}
.v1_227 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_227.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,255,255,0.10000000149011612);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v1_228 {
  width: 10px;
  height: 2px;
  background: url("../images/v1_228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  overflow: hidden;
}
.v1_229 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border-radius: 50%;
}
.v1_230 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border-radius: 50%;
}
.v1_231 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_232 {
  width: 172px;
  height: 36px;
  background: url("../images/v1_232.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_233 {
  width: 140px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_234 {
  width: 172px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_235 {
  width: 320px;
  height: 178px;
  background: url("../images/v1_235.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_236 {
  width: 320px;
  height: 178px;
  background: rgba(41,42,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_259 {
  width: 280px;
  height: 36px;
  background: url("../images/v1_259.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v1_260 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_260.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 254px;
  overflow: hidden;
}
.v1_261 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_261.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,255,255,0.10000000149011612);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v1_262 {
  width: 10px;
  height: 2px;
  background: url("../images/v1_262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  overflow: hidden;
}
.v1_263 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border-radius: 50%;
}
.v1_264 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border-radius: 50%;
}
.v1_265 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_266 {
  width: 168px;
  height: 36px;
  background: url("../images/v1_266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_267 {
  width: 133px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_268 {
  width: 168px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_269 {
  width: 320px;
  height: 18px;
  background: url("../images/v1_269.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 16px;
  overflow: hidden;
}
.v1_270 {
  width: 111px;
  height: 18px;
  background: url("../images/v1_270.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 209px;
  overflow: hidden;
}
.v1_271 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 24px;
  font-family: Exo 2;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_272 {
  width: 18px;
  height: 18px;
  background: url("../images/v1_272.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_273 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_274 {
  width: 6px;
  height: 6px;
  background: url("../images/v1_274.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 6px;
  left: 6px;
  overflow: hidden;
}
.v1_275 {
  width: 6px;
  background: url("../images/v1_275.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_276 {
  width: 6px;
  background: url("../images/v1_276.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_277 {
  width: 96px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Exo 2;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
/* coluna 1 - to do list */
/*
.v1_278 {
  width: 352px;
  height: 826px;
  background: url("../images/v1_278.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 440px;
  overflow: hidden;
}
.v1_279 {
  width: 352px;
  height: 826px;
  background: rgba(36,37,43,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_280 {
  width: 320px;
  height: 753px;
  background: url("../images/v1_280.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 16px;
  overflow: hidden;
}
.v1_281 {
  width: 320px;
  height: 178px;
  background: url("../images/v1_281.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 576px;
  left: 0px;
  overflow: hidden;
}
.v1_282 {
  width: 320px;
  height: 178px;
  background: rgba(41,42,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_305 {
  width: 280px;
  height: 36px;
  background: url("../images/v1_305.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v1_306 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_306.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 254px;
  overflow: hidden;
}
.v1_307 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_307.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,255,255,0.10000000149011612);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v1_308 {
  width: 10px;
  height: 2px;
  background: url("../images/v1_308.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  overflow: hidden;
}
.v1_309 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border-radius: 50%;
}
.v1_310 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border-radius: 50%;
}
.v1_311 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_312 {
  width: 211px;
  height: 36px;
  background: url("../images/v1_312.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_313 {
  width: 115px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_314 {
  width: 211px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_315 {
  width: 320px;
  height: 178px;
  background: url("../images/v1_315.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 384px;
  left: 0px;
  overflow: hidden;
}
.v1_316 {
  width: 320px;
  height: 178px;
  background: rgba(41,42,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_336 {
  width: 280px;
  height: 36px;
  background: url("../images/v1_336.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v1_337 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_337.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 254px;
  overflow: hidden;
}
.v1_338 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_338.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,255,255,0.10000000149011612);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v1_339 {
  width: 10px;
  height: 2px;
  background: url("../images/v1_339.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  overflow: hidden;
}
.v1_340 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border-radius: 50%;
}
.v1_341 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border-radius: 50%;
}
.v1_342 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_343 {
  width: 202px;
  height: 36px;
  background: url("../images/v1_343.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_344 {
  width: 129px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_345 {
  width: 202px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_347 {
  width: 320px;
  height: 178px;
  background: url("../images/v1_347.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_348 {
  width: 320px;
  height: 178px;
  background: rgba(41,42,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_371 {
  width: 280px;
  height: 36px;
  background: url("../images/v1_371.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v1_372 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_372.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 254px;
  overflow: hidden;
}
.v1_373 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_373.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,255,255,0.10000000149011612);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v1_374 {
  width: 10px;
  height: 2px;
  background: url("../images/v1_374.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  overflow: hidden;
}
.v1_375 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border-radius: 50%;
}
.v1_376 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border-radius: 50%;
}
.v1_377 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_378 {
  width: 207px;
  height: 36px;
  background: url("../images/v1_378.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_379 {
  width: 123px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_380 {
  width: 207px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_381 {
  width: 320px;
  height: 178px;
  background: url("../images/v1_381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 193px;
  left: 0px;
  overflow: hidden;
}
.v1_382 {
  width: 320px;
  height: 178px;
  background: rgba(255,255,255,0.019999999552965164);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 6px 20px 36px rgba(0.10980392247438431, 0.11372549086809158, 0.13333334028720856, 0.6000000238418579);
  overflow: hidden;
}
.v1_405 {
  width: 280px;
  height: 36px;
  background: url("../images/v1_405.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 19px;
  overflow: hidden;
}
.v1_406 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_406.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 254px;
  overflow: hidden;
}
.v1_407 {
  width: 26px;
  height: 26px;
  background: url("../images/v1_407.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,255,255,0.10000000149011612);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v1_408 {
  width: 10px;
  height: 2px;
  background: url("../images/v1_408.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  overflow: hidden;
}
.v1_409 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border-radius: 50%;
}
.v1_410 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border-radius: 50%;
}
.v1_411 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_412 {
  width: 189px;
  height: 36px;
  background: url("../images/v1_412.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_413 {
  width: 129px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_414 {
  width: 189px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_415 {
  width: 320px;
  height: 18px;
  background: url("../images/v1_415.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 16px;
  overflow: hidden;
}
.v1_416 {
  width: 111px;
  height: 18px;
  background: url("../images/v1_416.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 209px;
  overflow: hidden;
}
.v1_417 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 24px;
  font-family: Exo 2;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_418 {
  width: 18px;
  height: 18px;
  background: url("../images/v1_418.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_419 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_420 {
  width: 6px;
  height: 6px;
  background: url("../images/v1_420.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 6px;
  left: 6px;
  overflow: hidden;
}
.v1_421 {
  width: 6px;
  background: url("../images/v1_421.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_422 {
  width: 6px;
  background: url("../images/v1_422.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_423 {
  width: 57px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Exo 2;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
/* barra superior - mensagme de bem vindo */
/*
.v1_452 {
  width: 100%;
  height: 94px;
  background: url("../images/v1_452.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 420px;
  overflow: hidden;
}
.v1_453 {
  width: 100%;
  height: 94px;
  background: url("../images/v1_453.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_454 {
  width: 242px;
  height: 20px;
  background: url("../images/v1_454.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 32px;
  overflow: hidden;
}
.v1_468 {
  width: 242px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
/* barra lateral */
/*
.v1_469 {
  width: 408px;
  height: 1022px;
  background: url("../images/v1_469.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_470 {
  width: 408px;
  height: 100%;
  background: rgba(34,35,39,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_486 {
  width: 345px;
  height: 206px;
  background: url("../images/v1_486.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 35px;
  overflow: hidden;
}
.v1_493 {
  width: 345px;
  height: 206px;
  background: url("../images/v1_493.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_494 {
  width: 175px;
  height: 174px;
  background: url("../images/v1_494.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 1px;
  overflow: hidden;
}
.v1_495 {
  width: 146px;
  height: 174px;
  background: url("../images/v1_495.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 29px;
  overflow: hidden;
}
.v1_496 {
  width: 99px;
  height: 36px;
  background: rgba(28,29,34,0.03999999910593033);
  padding: 10px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 0px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v1_497 {
  width: 63px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Exo 2;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_498 {
  width: 146px;
  height: 36px;
  background: rgba(255,255,255,0.03999999910593033);
  padding: 10px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 0px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v1_499 {
  width: 110px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Exo 2;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_500 {
  width: 101px;
  height: 36px;
  background: rgba(28,29,34,0.03999999910593033);
  padding: 10px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v1_501 {
  width: 65px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Exo 2;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_502 {
  width: 129px;
  height: 36px;
  background: rgba(28,29,34,0.03999999910593033);
  padding: 10px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v1_503 {
  width: 93px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Exo 2;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_504 {
  width: 19px;
  height: 174px;
  background: url("../images/v1_504.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_505 {
  width: 17px;
  background: url("../images/v1_505.png");
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 1px;
  border: 2px solid rgba(255,255,255,0.10000000149011612);
}
.v1_506 {
  width: 17px;
  background: url("../images/v1_506.png");
  opacity: 1;
  position: absolute;
  top: 112px;
  left: 1px;
  border: 2px solid rgba(255,255,255,0.10000000149011612);
}
.v1_507 {
  width: 17px;
  background: url("../images/v1_507.png");
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 1px;
  border: 2px solid rgba(255,255,255,0.10000000149011612);
}
.v1_508 {
  width: 17px;
  background: url("../images/v1_508.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 1px;
  border: 2px solid rgba(255,255,255,0.10000000149011612);
}
.v1_509 {
  height: 174px;
  background: url("../images/v1_509.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,255,255,0.10000000149011612);
}
.v1_510 {
  width: 345px;
  height: 16px;
  background: url("../images/v1_510.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_511 {
  width: 4px;
  height: 10px;
  background: url("../images/v1_511.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 334px;
  border: 2px solid rgba(255,255,255,1);
  transform: rotate(-89deg);
}
.v1_512 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_536 {
  width: 336px;
  height: 30px;
  background: url("../images/v1_536.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 35px;
  overflow: hidden;
}
.v1_537 {
  width: 35px;
  height: 28px;
  background: url("../images/v1_537.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 300px;
  overflow: hidden;
}
.v1_538 {
  width: 35px;
  height: 28px;
  background: rgba(255,255,255,0.07999999821186066);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_539 {
  width: 10px;
  height: 8px;
  background: url("../images/v1_539.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 10px;
  left: 12px;
  overflow: hidden;
}
.v1_540 {
  width: 10px;
  background: url("../images/v1_540.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_541 {
  width: 8px;
  background: url("../images/v1_541.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_542 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Exo 2;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
} */
